body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #22254b;
  color: white;
}

* {
box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  padding: 0rem;
  padding-bottom: 15px;
  text-align: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  z-index: 1;
  /* display: flex; */
}

header h2 .appAuther {
  margin-top: 50px;
  text-decoration-line: underline;
  font-style: oblique;
  font-size: 13px;
}

.search {
  font-family: inherit;
  border: 2px solid #22254b;
  border-radius: 50px;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  color: white;
  text-align: center;
  margin-top: 5px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 415px){
  .movie {
    width: 100px!important;
     height: 100%!important;
  }
}
.movie {
  background-color: #373b69;
  margin: 0.5rem;
  width: 250px;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 415px){

.movie img {
  height: 165px!important;
}
}

.movie img {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.movie-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 12px;
  
}

@media screen and (max-width: 415px){
.movie-info {
height: 50px!important;
    padding: 0.5rem!important;
    font-size: 6px!important;
  }
}


.movie-info h3 {
  margin: 0;
}

.movie-over {
background-color: white;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
position: absolute;
bottom: 0;
right: 0;
left: 0;
color: #22254b;
padding: 1rem;
transform: translateY(102%);
transition: transform 0.3s ease-in-out;
overflow: auto;
max-height: 100%;
object-fit: cover;
}
@media screen and (max-width: 415px){
.movie-over { 
  font-size: 7px!important;
}
}

  .movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  background-color: #22254b;
  border-radius: 5px;
  padding: 0.5rem;
  font-weight: bold;
}

.tag.green{
color:rgb(7, 245, 7);
}

.tag.orange{
  color: rgb(250, 162, 0);
}

.tag.red{
  color: rgb(247, 0, 0);
}
